{% extends "layout.html.twig" %}

{% set titulo_pagina = 'Index' %}

{% block content %}
    <div class="text-center">
        <img src="{{ asset('img/cat.jpg') }}" style="width: 500px;" />
    </div>
{% endblock %}
